* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/hero.jpg);
  width: 100%;
  height: 50em;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: introLoad 5s forwards;
          animation: introLoad 5s forwards;
}

.nameMenu {
  color: #233e97;
  font-weight: bold;
  font-size: 1.3rem;
}

header {
  display: flex;
  justify-content: space-between;
}
header #menu {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  color: #233e97;
  cursor: pointer;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 5;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 6rem;
}
ul a {
  display: block;
  color: black;
  padding: 0.75em 2em;
  width: 100%;
}
ul a:hover {
  background: #233e97;
  color: white;
}

#close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2em;
  font-size: 1.3rem;
  cursor: pointer;
}

section.hero {
  color: black;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
}
section.hero .cont {
  margin-top: 5rem;
}
section.hero .cont h1 {
  font-size: 2.8rem;
  color: #233e97;
  text-shadow: 2px 2px 1px gray;
}
section.hero .cont .subhead {
  font-size: 1.5rem;
  font-weight: 400;
}
section.hero .cont .circle {
  position: absolute;
  height: 20em;
  width: 20em;
  background-color: #ffde59;
  z-index: -1;
  border-radius: 50%;
  display: inline-block;
  top: -4em;
}
section.hero .logoMainDiv {
  position: relative;
  display: flex;
  justify-content: center;
  top: -2em;
}
section.hero .logoMainDiv .logo {
  width: 40em;
}

section.services {
  position: relative;
}
section.services h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
  text-align: center;
  text-shadow: 2px 2px 1px gray;
  margin: 3rem;
}
section.services .topic {
  font-size: 2rem;
  font-weight: 400;
}
section.services .info, section.services .infoL {
  font-size: 1.3rem;
}
section.services #bins, section.services #paperBin {
  width: 100%;
  height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2.5em;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
section.services #bagsLawn {
  width: 100%;
  height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2.5em;
  -o-object-position: 0 50%;
     object-position: 0 50%;
}
section.services .hexa {
  position: absolute;
  top: 1.73em;
  z-index: -1;
}
section.services .infoDot {
  position: absolute;
  height: 18em;
  width: 18em;
  background-color: #ffde59;
  z-index: -1;
  border-radius: 50%;
  display: inline-block;
  top: 6em;
}
section.services .infoDot2 {
  position: absolute;
  height: 18em;
  width: 18em;
  background-color: #ffde59;
  z-index: -1;
  border-radius: 50%;
  display: inline-block;
  top: 80em;
}
section.services .getStarted {
  display: block;
  margin: 2em auto;
  background-color: #ffde59;
  height: 5em;
  width: 15em;
  box-shadow: 5px 5px 3px #233e97;
}
section.services .getStarted a {
  color: #233e97;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

section.break {
  position: relative;
}
section.break .breakImg {
  background: url(../images/break.png);
  margin-top: 5em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2.5em;
  z-index: -1;
}
section.break p {
  display: flex;
  justify-content: center;
  margin-top: -15rem;
  margin-bottom: 20rem;
  font-size: 2rem;
  font-weight: bold;
  color: #233e97;
  text-shadow: 2px 2px 1px gray;
}
section.break #downArrow {
  position: absolute;
  font-size: 5rem;
  color: #233e97;
  top: 22rem;
  stroke: #ffde59;
  animation: moveArrow 0.5s alternate-reverse infinite;
}

.calendarH {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
  text-align: center;
  text-shadow: 2px 2px 1px gray;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: hidden;
}

.calendar {
  width: 30rem;
  height: 37rem;
  background-color: rgb(71, 71, 71);
  box-shadow: 0 0.5rem 3rem black(0, 0, 0, 0.4);
  border-radius: 5px;
}

.month {
  width: 100%;
  height: 8rem;
  background-color: #233e97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem black(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}
.month i {
  margin: 0 20px;
  font-size: 2.2rem;
  cursor: pointer;
}
.month h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.2rem;
}
.month p {
  font-size: 1.3rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 4.2285714286rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.3rem 0.5rem black 0, 0, 0, 0.5;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
}

.days div {
  font-size: 1rem;
  margin: 0.2rem;
  width: 3.8571428571rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem black(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.prev-date, .next-date {
  opacity: 0.5;
}

.today {
  background-color: #ffde59;
  color: black;
  cursor: pointer;
}

.days div:hover:not(.today) {
  background-color: black;
  border: 0.2rem solid gray;
  cursor: pointer;
}

section.contactUs {
  position: relative;
}
section.contactUs h1 {
  margin: 3rem;
  margin-top: 10rem;
  text-align: center;
  font-size: 5rem;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px gray;
}
section.contactUs .rectContact {
  display: flex;
  justify-content: center;
}
section.contactUs .rectContact label {
  display: block;
  text-align: right;
  width: 10rem;
  float: left;
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #233e97;
}
section.contactUs .rectContact input, section.contactUs .rectContact textarea, section.contactUs .rectContact select {
  font-weight: 400;
  margin: 0 2em;
  display: block;
  width: 17em;
  min-height: 2em;
  margin-bottom: 2em;
}
section.contactUs .rectContact .submitB {
  display: block;
  width: 17em;
  margin: 0 auto;
  margin-top: 3em;
  font-size: 1.5rem;
  background-color: #233e97;
  border: none;
  color: #ffde59;
  box-shadow: 2px 2px 1px gray;
  cursor: pointer;
}

footer p {
  margin-top: 7rem;
  text-align: center;
  background-color: #233e97;
  color: white;
}

footer a {
  color: white;
  font-size: 1.1rem;
  text-decoration: underline;
}

.open-nav {
  transform: translateX(0%);
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    margin-top: 2em;
    font-family: "Poppins", sans-serif;
  }
  .heroImg {
    width: 100%;
    height: 50em;
    background-size: cover;
  }
  section.break p {
    margin-top: -20rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
  }
  section.break #downArrow {
    top: 8rem;
    font-size: 7rem;
  }
}
@media only screen and (min-width: 920px) {
  header .nameMenu {
    text-shadow: 2px 2px 1px gray;
    color: #ffde59;
    margin-top: 0.8rem;
    font-size: 1.5rem;
  }
  header .nameMenu span {
    color: #233e97;
  }
  header #menu {
    display: none;
  }
  header nav {
    transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  header nav #close {
    display: none;
  }
  header ul {
    display: flex;
    margin: 0;
    margin-right: -2rem;
  }
  header ul a {
    font-weight: 600;
    color: #ffde59;
    text-shadow: 2px 2px 1px gray;
  }
  header ul a:hover {
    background: none;
    color: #ffde59;
    text-decoration: underline;
  }
  .heroImg {
    left: unset;
    right: 0;
    width: 60%;
    height: 50em;
  }
  section.hero .cont h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 20rem;
  }
}/*# sourceMappingURL=main.css.map */